<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @event do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <div>Metrics:</div>
      <table>
        <% @event.metric_classes.each_with_index do |metric_class, i| %>
          <%= render 'metrics/edit_metric', locals: {
             metric_class: metric_class,
             index: i,
             form: f
           } %>
        <% end %>
      </table>

      <%= f.submit "Create Event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
